H1{color:black;font-size:20px;}
H2{color:black;font-size:10px;text-align:center;}
H3{color:black;font-size:30px}
H4{color:black;font-size:15px;text-align:center;}
h5{color:black;font-size:9px;}
h6{font-famaly:"SimSun";font-size:15px;}
h7{color:red;font-size:14px;}
a:link{ 
	font-family:Verdana;
	font-size:15px;
	text-decoration:none;
	color:black;
	}
a:hover{
       font-family:Verdana;
       font-size:15px;
       color:red;
       text-decoration:none;
}
#tzy{
	position:absolute;
	top:20%;
	bottom:12%;
	left:23%;
	right:23%;
	text-align:center;
}
#b{     
    width:1630px;
	height:600px;

}
#head{
    width:1630PX;
	height:30px;
}
#head1{
	width:300PX;
	height:30px;
	float:right;
}	
#main{  
	margin-left:1px;
    width:100%;
	height:560px;
}
#maingm{  
	margin-left:1px;
    width:100%;
	height:450px;
}


#main1{ 
	margin-left:10px;
    width:30%;
    height:400px;
    float:left;
}

#main2{
      margin-top:0px;
      margin-right:10px;
      width: 25%;
      height: 600px;
      float:right;					                             
}
#main2hangtian{
      margin-top:0px;
      margin-right:10px;
      width: 28%;
      height: 540px;
      float:right;
		                             
}

#main3{         
      width: 32%;
      height: 400px;
      margin-top:0px;
      margin-left:600px;
      margin-right:470px;

}
#main3hangtian{         
      width: 22%;
      height: 400px;
      margin-top:0px;
      margin-left:600px;
      margin-right:470px;

}
#main3gywm{         
      width: 32%;
      height: 400px;
      margin-top:0px;
      margin-left:530px;
      margin-right:470px;
}

#main4{
   text-align:center;
}
#aaa{
	border:2px thick pink;
}      
#footer{
    clear: both;
	height:250px;
}
body {
	margin: 0px;
	font-size: 12px;
}
td{
	font-size: 12px;
}
.div1{
	width:740px;
	height: 600px;
	text-align: left;
}
.tb1{
	left: 488px;
	top: 219px;
}
.top{
	width: 740px;
	height: 160px;
	padding-top: 158px;
	padding-left: 310px;
}
.top1{
	width: 740px;
	height: 40px;
	padding-top: 158px;
	padding-left: 310px;
}
.bottom{
	width: 740px;
	height: 250px;
}
.div2{
	width: 120px;
	height: 120px;
	float: left;
	margin-top: 42px;
	padding-left: 20px;
}
.div2 ul li{
	margin-bottom: 17px;
	font-size:black;
	list-style-type: none;
}
.div3{
	margin-top: 30px;
	width: 450px;
	float: right;
	height:200px;
	margin-right:60px;
	text-align: center;
}
.nav-title{
    display:block;
    float:left;
    width:140px;
    height:58px;
    text-align:center;
    font-size:18px;
    font-weight:100;
    margin-right:5px;
}


.nav-title a:hover{
    background-color:#004ea2;
    color:#fff;
}
.container{
    display:block;
    width:1200px;
    margin:0 auto;
    overflow:hidden;
}
.nav-title{
    display:block;
    float:left;
    width:140px;
    height:58px;
    text-align:center;
    font-size:18px;
    font-weight:200;
    margin-right:10px;
}


.nav-title a:hover{
    background-color:#004ea2;
    color:#fff;
}
li{
    list-style:none;
}
.container{
    display:block;
    width:1620px;
    margin:0 auto;
    overflow:hidden;
}

