<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>航天售票系统</display-name>
  <servlet>
    <servlet-name>ddcxServlet1</servlet-name>
    <servlet-class>servlet.ddcxservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ddcxServlet1</servlet-name>
    <url-pattern>/ddcxservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ddshanchuServlet1</servlet-name>
    <servlet-class>servlet.ddshanchuservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ddshanchuServlet1</servlet-name>
    <url-pattern>/ddshanchuservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goumaiServlet1</servlet-name>
    <servlet-class>servlet.goumaiservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goumaiServlet1</servlet-name>
    <url-pattern>/goumaiservlet1</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>code.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>chaxunservlet1</servlet-name>
    <servlet-class>servlet.chaxunservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chaxunservlet1</servlet-name>
    <url-pattern>/chaxunservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reg1Servlet</servlet-name>
    <servlet-class>servlet.reg1servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg1Servlet</servlet-name>
    <url-pattern>/reg1servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reg2Servlet</servlet-name>
    <servlet-class>servlet.reg2servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg2Servlet</servlet-name>
    <url-pattern>/reg2servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.login1servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login1servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet2</servlet-name>
    <servlet-class>servlet.login2servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet2</servlet-name>
    <url-pattern>/login2servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>finduser1Servlet</servlet-name>
    <servlet-class>servlet.finduserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finduser1Servlet</servlet-name>
    <url-pattern>/finduserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>servlet.ExitServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteuserServlet1</servlet-name>
    <servlet-class>servlet.deleteuserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuserServlet1</servlet-name>
    <url-pattern>/deleteuserServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>